/GitStart/bin
/GitStart/obj
/GitStart/.vscode
/GitStart/packages
/GitStart/.nuget
/GitStart/TestResults
/GitStart/.vs
/GitStart/Generated_Code
/GitStart/node_modules
/GitStart/.idea
/GitStart/.ReSharper

*.user
*.rsuser
*.suo
*.opendb
*.VC.opendb
*.nupkg
*.snupkg
*.log
*.ide
*.tlog
*.cache
*.pdb
*.ilk
*.idb
*.ipch
*.aps
*.sdf
_TemporaryKey.pfx
*.tmp
*.temp
*.DS_Store
*.bak
*.old
*.orig
*.trx
*.coverage
*.coverlet.*
Thumbs.db
ehthumbs.db
.directory
launchSettings.json
*.vcxproj.filters
*.vsconfig
*.db
*.sqlite
